div#wrapper, footer{
    margin: auto;
    width: 1000px;
    background-color: rgb(251, 235, 235);
    padding: 20px;
}
nav a{
    margin-right: 20px;
}
nav{
    margin-top: 20px;
    margin-bottom: 20px;
}
section.appel, section.plaatjes{
    width: 50%;
    float: left;
}
article{
    display: inline-block;
    width: 33%;
    padding-right: 0px;
    vertical-align: top;
}
article:last-child {
    padding-right: 0px;
}
body{
    font-family: Arial, sans-serif;
}
footer{
    background-color: #ccffff;
}
